bookstore.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ENTITY % day_of_the_week "(poniedziałek|wtorek|środa|czwartek|piątek|sobota|niedziela)">
<!ENTITY % rodzaj_zajęć "(wykład|ćwiczenia|laboratorium|dodatkowe)">
<!ELEMENT bookstore (header, lista_prowadzących, plan*)>
<!ELEMENT header (university, faculty, location, data, authors)>
<!ELEMENT university (#PCDATA)>
<!ELEMENT faculty (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT data EMPTY>
<!ATTLIST data
		day (1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31) #REQUIRED
		month (I|II|III|IV|V|VI|VII|VIII|IX|X|XI|XII) #REQUIRED
		year (2019|2020|2021) #REQUIRED>
<!-- w 2021 będzie koniec świata, albo trzeba będzie uaktualnić DTD -->
<!ELEMENT authors (author+)>
<!ELEMENT author (name, surname, album, field_of_study, specialty, year)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT surname (#PCDATA)>
<!ELEMENT album (#PCDATA)>
<!ELEMENT field_of_study (#PCDATA)>
<!ELEMENT specialty (#PCDATA)>
<!ATTLIST specialty ips (nie|tak) "nie">
<!ELEMENT year (#PCDATA)>
<!ELEMENT authors_list (authors_definition+)>
<!ELEMENT authors_definition EMPTY>
<!ATTLIST authors_definition
		stopień NMTOKENS #IMPLIED
		name NMTOKEN #REQUIRED
		surname NMTOKEN #REQUIRED
		id ID #planREQUIRED>
<!ELEMENT  (student,genre+)>
<!ELEMENT genre (name)>
